<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="#">WEBINAR</a>
    <a class="p-2 text-muted" href="#">TIPS</a>
    <a class="p-2 text-muted" href="#">NEWS</a>
    <a class="p-2 text-muted" href="#">Design</a>
    <a class="p-2 text-muted" href="#">Culture</a>
    <a class="p-2 text-muted" href="#">Culture</a>
  </nav>
</div>